/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: space-around;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

/* Logo */
.logo img {
    width: 200px;
}

/* Encabezado */
h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

/* Párrafo */
p {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 20px;
}

/* Contenedor de botones */
.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Botones */
.button {
    display: block;
    padding: 12px 24px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    width: 200px;
    text-align: center;
}

/* Botón primario */
.button.primary {
    background-color: #ffc107; /* Amarillo */
    color: #212529; /* Texto oscuro */
}

/* Botón de contorno */
.button.outline {
    border: 2px solid #ccc;
    color: #555;
}

/* Hover botón primario */
.button.primary:hover {
    background-color: #ffca2b;
}

/* Hover botón de contorno */
.button.outline:hover {
    background-color: #f8f9fa;
}