/* Contenedor del resultado del cálculo de interés (modal centrado y oculto por defecto) */
.result-container {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    z-index: 1000; /* Por encima de otros elementos */
    display: grid;
    place-items: center; /* Centra el contenido */
    display: none; /* Oculto por defecto */
}

/* Tarjeta de resultado */
.result-card {
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Detalles del resultado */
.result-details p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

/* Botón para cerrar el resultado */
#reset-button {
    background-color: #ffc107;
    color: #212529;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Efecto hover para el botón de cerrar */
#reset-button:hover {
    background-color: #ffca2b;
}