/* Estilos para el header y botón de regreso */
header {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 60px;
    margin: 20px 10px;
}

header .back-button {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #6c757d;
    cursor: pointer;
}

/* Logo en el header */
header .logo img {
    width: 150px; /* Ajusta el tamaño del logo */
}

/* Información del usuario y detalles */
.information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.user-info {
    margin-top: -50px;
}

.user-info h1 {
    font-size: 2em;
    margin-bottom: 5px;
}

.user-info p {
    color: #6c757d;
    margin-bottom: 0px;
    margin-top: 0;
}

.user-info .account-details {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1em;
}

/* Sección de balance y movimientos */
.balace-movement {
    margin-top: 40px;
}
.balace-movement p {
    color: #6c757d;
    margin: 0;
}

.balance {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.balance p {
    color: #6c757d;
}

/* Tabs para filtrar movimientos */
.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: #6c757d;
    font-size: 1.1em;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.tab-button.active {
    color: #343a40;
    border-bottom-color: #343a40;
}

/* Lista de movimientos */
.list {
    flex-grow: 1;
    overflow-y: auto;
    width: 400px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.details p {
    margin: 0;
}

.date {
    font-size: 0.9em;
    color: #6c757d;
    margin-bottom: 5px;
}

.description {
    font-size: 1.1em;
}

.amount {
    font-size: 1.2em;
    font-weight: bold;
}

.amount.negative {
    color: red;
}

/* Footer con navegación */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    margin: 20px auto;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
}

footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #6c757d;
}

footer i {
    font-size: 1.5em;
    margin-bottom: 5px;
}