/* Botón para nuevo pago y recarga */
.new-payment, .new-refill{
    width: 100%;
    text-align: left;
    background-color: #fff;
    border: none;
    padding: 20px;
    padding-left: 50px;
    font-size: 1.1em;
    color: #424549 ;
    border-radius: 13px;
    cursor: pointer;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    position: relative;
    margin-bottom: 30px;
}

/* Icono "+" en los botones */
.new-payment::before, .new-refill::before{
    content: "+";
    position: absolute;
    top: 50%;
    left: 7%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
}

/* Contenedor del formulario oculto por defecto */
.form-container{
    display: none;
}

/* Estilos para el select de opciones */
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #495057;
    background-color: #fff;
    appearance: none; /* Elimina los estilos por defecto del navegador */
    -webkit-appearance: none; /* Safari y Chrome */
    -moz-appearance: none; /* Firefox */
}

/* Efecto al enfocar el select */
select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Opciones del select */
option {
    font-size: 1em;
    color: #495057;
    background-color: #fff;
}

/* Contenedor de botones del formulario */
.buttons-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

/* Botón principal */
.button{
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    color: #212529;
    background-color: #ffc107;
    cursor: pointer;
    font-weight: 500;
}

/* Efecto hover para el botón principal */
.button:hover{
    opacity: 0.8;
}

/* Botón secundario (cancelar) */
.button:last-child { 
    background-color: transparent;
    color: #424549;
    border: 1px solid #424549;
}

/* Lista de movimientos */
.list {
    flex-grow: 1;
    overflow-y: auto;
    width: 400px;
}

/* Ítem individual de la lista */
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

/* Detalles del movimiento */
.details p {
    margin: 0;
}

/* Fecha del movimiento */
.date {
    font-size: 0.9em;
    color: #6c757d;
    margin-bottom: 5px;
}

/* Descripción del movimiento */
.description {
    font-size: 1.1em;
}

/* Monto del movimiento */
.amount {
    font-size: 1.2em;
    font-weight: bold;
}