body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Fondo gris claro */
    color: #343a40; /* Texto oscuro */
}

body > .container {
    width: 90%; /* Ancho relativo */
    max-width: 400px; /* Ancho máximo */
    height: 100vh;
    background-color: #f8f9fa;
    border-radius: 15px;
    margin: 20px auto; /* Centra horizontalmente */
}
